*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(235, 19, 73);
}
.form{
  padding: 0 auto;
  margin: 0 auto;
  height: 100%;
}
.back{
  margin: 2rem auto;
}
.card{
  box-shadow: 0 0 20px 20px rgba(221, 1, 151, 0.6);
  height: 60vh;
  padding: 0 auto;
}

.label1{
  position: relative;
  bottom: 1rem;
  background:none;
  background-color: white;
  float: right;
}

.label2 {
    position: relative;
    float:right;
    bottom: 1rem;
    background: none;
    background-color: white;
}

.codeP{
  margin-bottom: 120px !important;
}

.inputCol {
  position: relative;
  border: 1px solid black;
  border-radius: 10px;
  height: 100%;
  padding: auto;
}
 .input {

  position: relative;
  margin: 0 auto;
  left: 4rem;
  }
.showE{
  position:absolute;
  font-size: 22px;
  background:none;
  margin: auto;
  bottom:0;
  left: 1rem;
  height: 100%;
  padding: auto;
  cursor: pointer;
  transform: translateY(2.5px);
  }
  .showE:hover{
      color: green;
  }

.codeInput{
  display: block;
  margin: 2em auto;
  border: none;

  padding: 0;
  width: 10.5ch;
  background: repeating-linear-gradient(90deg,dimgrey 0, dimgrey 1ch,
  transparent 2ch,transparent 2.5ch)
  0 100%/ 10ch 2px no-repeat;
  letter-spacing: 1.7ch;
}
.codeInput:focus{
  outline: none;
  color: dodgerblue;
}
.next{
  cursor: not-allowed;

}

