*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(235, 19, 73);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.back{

  margin: 2rem auto;




}
.card{

  box-shadow: 0 0 20px 20px rgba(221, 1, 151, 0.6);
  height: 50vh;

}

.label1{
  top:0.5rem;
}

.label2 {
top: 0.5rem;
}

.codeP{
  margin-bottom: 120px !important;
}

